@mixin mqUP ($w) {
    @media screen and (min-width: $w) {
        @content;
    }
}

@mixin grid ($qty, $size, $rowgap:0, $columngap:0) {
    display: grid;
    grid-template-columns: repeat($qty, $size);
    gap: $rowgap $columngap;
    
}

@mixin flexbox ($horizontal, $vertical, $direction:row) {
    display: flex;
    justify-content: $horizontal;
    align-items: $vertical;
    flex-direction: $direction;
    @content;
}

